.overlay {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

.loading {
  font-size: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}