.p-dropdown.p-component {
  display: block;
  border: 1px solid #d1d3e2;
}

.form-group.is-invalid .react-select__control {
  border-color: #dc3545 !important;
}

.form-group.is-valid .react-select__control {
  border-color: #28a745 !important;
}

.react-select__control {
  height: calc(1.5em + .5rem + 2px) !important;
  min-height: unset !important;
  max-height: calc(1.5em + .5rem + 2px) !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important;
  border-color: #d1d3e2 !important;
  font-size: .875rem;
}

.react-select__control * {
  max-height: calc(1.5em + .5rem + 2px) !important;
  line-height: 1.5 !important;
  color: #6e707e !important;
}

.react-select__control--is-focused{
  box-shadow: 0 0 0 0.2rem rgba(78,115,223,.25) !important;
}

.react-select__indicator svg{
  font-size: 3px !important;
}