:root {
  --minha-variavel: 123
}

html, body, div#root {
  height: 100%;
  min-height: 100%;
}

div.no-auth-background {
  height: 100%;
}

.bg-login-image, .bg-register-image, .bg-password-image {
  background: url(https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-position: center;
  background-size: cover;
}

.Toastify__toast {
  border-radius: 0rem;
  padding: 2px 8px 2px 10px;
  margin-bottom: 0.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  min-height: 40px;
}

.Toastify__toast-body {
  margin: 10px 5px 15px 5px;
}

.Toastify__toast-container--top-right {
  top: 0.8rem
}

.Toastify__toast--success {
  background: #1cc88a;
}

.Toastify__toast--error {
  background: #e74a3b;
}

.Toastify__toast--warning {
  background: #f6c23e;
}

.Toastify__toast--info {
  background: #4e73df;
}

.sidebar {
  transition: width 0.5s;
}

.sidebar.toggled {
  transition: width 0.5s;
}

/* bootstrap */

.form-group {
  margin-bottom: 0.5rem;
}

.form-group .control-label {
  margin-bottom: 0.2rem;
}

/* formera */

.formera-body {
  padding: 0px 0px 10px 0px;
}

.formera-footer {
  padding: 5px 0px;
}

/* Customizando logo */
.logo{
  color: #fff
}

/* dropdown de notificações e mensagens */

.notify-box {
  border-radius: 1px;
  width: 300px;
}

.notify-title {
  background: linear-gradient(to right, #303641, 0%, #44516b);
}

.nofity-list {
  padding: 15px 0px;
  height: 300px;
}

.nofity-list .notify-item {
  padding-right: 15px;
  padding-left: 15px;
}

/* Estilizando menu */

.metismenu span {
  font-weight: 600;
}

.metismenu li a i {
  color: #8d97ad;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .nav-btn {
    left: 280px;
  }
  .metismenu {
    width: 280px;
  }
  .sidebar-menu {
    width: 280px;
  }
}

@media (max-width: 1364px) and (min-width: 1200px) {
  .nav-btn {
    left: 300px;
  }
  .metismenu {
    width: 300px;
  }
  .sidebar-menu {
    width: 300px;
  }
}

.offset-menu-tab li a.active {
  color: #303641;
}

.offset-menu-tab li a:before, .page-title-area:before {
  background: #303641;
}

.user-profile {
  background: linear-gradient(to right, #303641, 0%, #44516b);
}

.error-content h2 {
  color: #303641;
  text-shadow: -3px -3px 0 #ffffff, 3px -3px 0 #ffffff, -3px 3px 0 #ffffff, 3px 3px 0 #ffffff, 4px 4px 0 #303641, 5px 5px 0 #303641, 6px 6px 0 #303641, 7px 7px 0 #303641;
}

.error-content p {
  color: #303641;
}

.error-content a {
  background: #44516b;
}